body {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#selectores{
    padding-top : 10px;
    padding-bottom: 10px;
}

#boton_verificar {
    padding-top : 10px;
    padding-bottom: 10px;
}